@model SEOAnalyser.Models.SEOAnalyserInputModel

@{
    ViewData["Title"] = "Home";
}

<h2>SEO Analyser</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="formAnalyse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="analyseInput" class="control-label"></label>
                <textarea asp-for="analyseInput" id="analyseInput" class="form-control" placeholder="@Html.DisplayNameFor(model => model.analyseInput)"></textarea>
                <span asp-validation-for="analyseInput" id="analyseInputVal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="checkStopWord" id="checkStopWord" checked /> @Html.DisplayNameFor(model => model.checkStopWord)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="checkAllWord" id="checkAllWord" checked /> @Html.DisplayNameFor(model => model.checkAllWord)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="checkMetadata" id="checkMetadata" /> @Html.DisplayNameFor(model => model.checkMetadata)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="checkExternalLink" id="checkExternalLink" /> @Html.DisplayNameFor(model => model.checkExternalLink)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" id="btnAnalyse" onclick="SubmitForm(this.parentElement, event)" value="Analyse" class="btn btn-default" />
                <input type="reset" id="btnClear" value="Reset" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="panel panel-success" id="divAllWords">
        <div class="panel-heading" data-toggle="" href="#collapseGrid">All Words Listing</div>
        <div class="panel-collapse collapse in" id="collapseGrid">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div id="gridAllWord" class="overflow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success" id="divMeta">
        <div class="panel-heading" data-toggle="" href="#collapseGrid">Metadata Words Listing</div>
        <div class="panel-collapse collapse in" id="collapseGrid">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div id="gridMeta" class="overflow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-success" id="divExtLink">
        <div class="panel-heading" data-toggle="" href="#collapseGrid">External Links Listing</div>
        <div class="panel-collapse collapse in" id="collapseGrid">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div id="gridExtLink" class="overflow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   
}
